

<div class="card">
    <div class="card-header">
        <h2>Todo detai</h2>
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <td>name</td>
                    <td>{{todo.name}}</td>
                </tr>
                <tr>
                    <td>description</td>
                    <td>{{todo.descrption}}</td>
                </tr>
                <tr>
                    <td>isactive</td>
                    <td>{{todo.isactive}}</td>
                </tr>
                <tr>
                    <td>created date</td>
                    <td>{{todo.createddate}}</td>
                </tr>
                <tr>
                    <td>updated date</td>
                    <td>{{todo.updatedate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a class="btn btn-primary" routerLink="/updatetodo/{{todo.id}}">update</a>
        &nbsp;&nbsp;
        <a class="btn btn-danger" href="#" (click)="deletetodo(todo.id)">delete</a>

    </div>
</div>